@model EdmundsMvc.Models.CustomersModel

<div class="form">
    <div class="form-group">
        @Html.LabelFor(model => model.Income)
        @Html.TextBoxFor(model => model.Income)
    </div>
</div>